* {
    font-family: circular, sans-serif;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    border-bottom: solid darkslategrey 3px;
}
#llama-input{
    margin: 1rem 0 2rem 0;
    padding: 15px;
    border: solid #55D6BE;
    border-radius: 5px;
    font-weight: bold;
    font-size: 120%;
}
#llama-submit{
    padding: 0.5rem 2rem;
    color: white;
    font-weight: bold;
    background-color: black;
    font-size: 120%;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
}
#llama-submit:hover{
    color: black;
    background-color: antiquewhite;
}

#llama-answer{
    display: none;
    margin: 3rem 20%;
    font-size: 120%;
}

/*Loader*/
#loader-container {
    display: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
#loader {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
#loader::before , #loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 5px solid #55D6BE;
    animation: prixClipFix 2s linear infinite ;
}
#loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
